body {
    font-size: .875rem;
    padding-top: 20px;
    padding-bottom: 60px;
}

table td {
    width: 100%;
}

table td:last-child {
    white-space: nowrap;
    width: 1%;
}

input {
    background-color: var(--input-background-color);
}

input:invalid {
    border: 2px solid red;
}

input[type=range] {
    width: 20%;
}

main {
    background: var(--background-color);
}

.fa {
    margin-right: 0.2rem;
}

.card {
    margin-bottom: 2rem;
    width: 75%;
}

.card-header {
    font-size: 1rem;
    text-weight: bold;
}

.sidebar {
    background-color: #2f2f2f !important;
    bottom: 0;
    position: fixed;
    top: 0;
}

.nav-item, .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.sidebar-heading {
    padding-bottom: 1.5rem;
}

footer {
    bottom: 1rem;
    color: #cbcfcb;
    font-size: .75rem;
    text-transform: uppercase;
    position: fixed;
}

.tab {
    display: none;
}

.tab-header {
    margin-bottom: 2rem;
}

h2, hr {
    margin-top: 0;
}

.alert, #manualUrl {
    width: 75%;
}

#defaultGroup {
    width: 50%;
}

#redirectAllowanceLabel {
    font-weight: normal;
}

#colorTheme {
    width: 20%;
}

tr.clone {
    display: none;
}

td.last-used,
td.created {
    white-space: nowrap;
}

#dangerousSettings {
    display: none;
}

.panel-title {
    font-size: 14px !important;
}

.panel-group .panel-default .panel-heading {
    background-color: #fff !important;
}

@media (prefers-color-scheme: dark), (prefers-color-scheme: light) {
    a {
        color: var(--link-color);
        text-decoration: none;
    }

    a:hover {
        color: var(--link-hover-color);
        text-decoration: none;
    }

    .bg-danger {
        color: #000;
    }

    body, pre {
        background: var(--background-color);
        color: var(--text-color);
    }

    input, input[type="checkbox"] {
        background-color: var(--input-background-color);
        /*border-color: var(--input-border-color);*/
    }

    input:active {
        border-color: var(--input-active-border-color);
    }

    .modal-content {
        background: var(--background-color);
        color: var(--text-color);
    }

    .navbar-default {
        box-shadow: 0 0px 2px 0;
    }

    select {
        background-color: var(--input-background-color);
        color: var(--text-color);
    }

    select option {
        background-color: var(--input-background-color);
        color: var(--text-color);
    }

    select hover {
        background: var(--background-color);
        color: var(--text-color);
    }

    .table > caption {
        color: var(--text-color);
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: var(--table-hover-color);
    }

    .table-striped > tbody > tr:hover {
        background-color: var(--table-hover-color);
    }
}
